/**************************************************
************ MEDIA QUERY FOR MAX WIDTH 1480PX  *****}
******************************************************/

@media only screen and (max-width:1480px) {
      .AboutImage img {
            object-position: center;
      }

      .FooterContactSec a:nth-child(1) svg {
            width: 25px;
            height: 25px;
      }

      .who-we-are .Container div:nth-child(2),
      .why-choose-us .Container div:nth-child(1) {
            min-height: auto;
      }

      .founder-message .Container .ceo-image img {
            min-height: 55vh;
            object-fit: cover
      }

      .EachTesti {
            /* height: 240px; */
      }

      .AboutImage,
      .AboutImage img,
      .AboutUs {
            min-height: 85vh;
      }
}


/**************************************************
************ MEDIA QUERY FOR MAX WIDTH 992PX  *****}
******************************************************/

@media only screen and (max-width:992px) {
      .Navbar {
            display: none;
      }

      .NavbarMobile {
            display: flex;
            z-index: 4;
            justify-content: space-between;
            position: relative;
      }

      .MenuButton {
            height: fit-content;
            margin-top: 15px;
      }

      .SiteLink a img {
            width: 100px;
      }

      .HeroSection {
            margin-top: -132px;
      }


      .ServiceDetailSection .Container,
      .service-name {
            padding-left: 0px;
            padding-right: 0px;
      }

      .Container,
      .BreadCrumb .Container {
            padding-left: 20px;
            padding-right: 20px;
      }

      .HeroSection h1,
      .PageHead,
      .about-us-hero h1 {
            font-size: 5rem;
      }

      .HeadFont {
            font-size: 4rem;
      }

      .FooterContactSec {
            width: 33%;
      }

      .FooterLinksSec {
            width: 25%;
      }

      .EachService {
            background-color: #222F63;
            color: #d1d1d1;
      }

      .EachService .ServiceName {
            color: white;
      }

      .EachService .ServiceImage {
            box-shadow: none;
            border: 2px solid #222F63;
      }

      .EachService a {
            bottom: 0;
            opacity: 1;
            animation: moveUp 0.5s ease-in-out forwards;
      }

      .ServicesWrapper {
            min-height: 60vh !important;
            height: auto !important;
            background-image: url(/public/Images/ServicePageHeroBg.webp);
            position: relative;
            background-position: 80% 40%;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 50px 0px;
      }

      .EachService {
            width: calc(50% - 20px);
      }

      .we-chat-widget img {
            width: 90%;
      }


}

/**************************************************
************ MEDIA QUERY FOR MAX WIDTH 768PX  *****}
******************************************************/

@media only screen and (max-width:768px) {

      .ContactInfo .Container,
      .vision-mission-goal .Container {
            flex-direction: column;
            align-items: center;
      }

      .phone-info {
            margin: 8px 0px 12px 0px;
      }

      .AboutContent,
      .who-we-are .Container div:nth-child(1),
      .why-choose-us .Container div:nth-child(2),
      .AboutImage,
      .about-image-mobile img,
      .OurServices .HeadFont,
      .OurServices .HeadFont,
      .ContactUsLeft,
      .sidebar,
      .Outlet,
      .ServiceDetailSection,
      .ContactUsLeft form input,
      .ContactUsLeft form textarea,
      .success-stories .HeadFont,
      .LandingServices .EachService,
      .founder-message .Container .ceo-message,
      .founder-message .Container .ceo-message img,
      .who-we-are-image-mobile img {
            width: 100%;
      }

      .AboutUs .Container,
      .who-we-are .Container,
      .why-choose-us .Container,
      .Footer .Container,
      .page-divider {
            flex-direction: column;
      }

      .AboutImage img,
      .AboutUs,
      .AboutImage {
            height: auto;
      }

      .AboutImage,
      .ContactUsRight,
      .who-we-are .Container .who-we-are-image,
      .why-choose-us .Container div:nth-child(1),
      .vision-mission-goal::before,
      .ceo-image {
            display: none;
      }

      .about-image-mobile,
      .ceo-image-mobile,
      .who-we-are-image-mobile {
            display: block;
      }

      .about-image-mobile {
            margin-top: 60px;
      }

      .ContactUs {
            background-image: url(../.././../public/Images/contact-us-mobile.webp);
            background-size: cover;
            position: relative;
            background-position: 60%;
      }

      .ContactUs::before {
            content: "";
            position: absolute;
            inset: 0;
            background: #ffffffdb;
            /* adjust opacity here */
            z-index: 1;
      }

      .ContactUsLeft,
      .who-we-are .Container div:nth-child(1) {
            z-index: 2;
      }

      .Footer .Container {
            flex-direction: column;
            align-items: center;
            text-align: center;
      }

      .Footer .Container .FooterLogoSec,
      .FooterLinksSec,
      .FooterContactSec {
            width: 100%;
            padding-right: 0px;
      }

      .FooterContactSec a {
            display: block;
      }

      .FooterLinksWrapper a {
            display: inline;
            margin-right: 10px;
      }

      .FooterLinksWrapper a:last-child {
            margin-right: 0px;
      }

      .about-us-hero {
            height: 70vh;
      }

      /* .who-we-are {
            background-image: url(../.././../public/Images/who-we-are3.webp);
            background-size: cover;
            background-position: 55%;
      } */



      .who-we-are:before {
            content: "";
            position: absolute;
            inset: 0;
            background: #ffffffdb;
            z-index: 0;
      }

      .vision-mission-goal {
            background-image: none;
            padding: 50px 0px;
      }

      .vision-mission-goal .Container div {
            width: 100%;
            border: 1px solid white;
            border-top-left-radius: 28px;
            background-color: #222F63;
            overflow: hidden;
      }

      .vision-mission-goal .Container div:nth-child(2) {
            margin: 30px 0px;
      }

      .vision-mission-goal .Container div .SmallHead {
            color: white;
            background-color: red;
            padding: 15px;
      }

      .vision-mission-goal .Container .who-we-are-text {
            padding: 15px;
      }

      .vision-mission-goal .Container .who-we-are-text {
            margin-top: 8px;
      }

      .sidebar {
            margin-bottom: 50px;
      }

      .sidebar ul li {
            margin-bottom: 8px;
            margin-right: 27px;
            list-style-type: auto;
            width: fit-content;
      }

      .BreadCrumb .Container a,
      .sidebar a {
            font-size: 1.8rem;
      }

      .Tabs {
            width: 100%;
            overflow: scroll;
            white-space: nowrap;
      }

      .ceo-image-mobile,
      .AboutContent button,
      .who-we-are-image-mobile {
            margin-top: 35px;
      }

      .founder-message,
      .ContactUs,
      .Testimonilas,
      .success-stories,
      .AboutContent,
      .OurServices,
      .Faqs,
      .ContactUs {
            padding-top: 50px;
            padding-bottom: 50px;
      }

      .vision-mission-goal,
      .why-choose-us .Container {
            padding-top: 0px;
      }

      .AboutContent p,
      .about-image-mobile {
            margin-top: 0px;
      }

      .vision-mission-goal .Container div {
            padding: 0px;
      }

      .FooterLinksSec,
      .FooterContactSec {
            padding-top: 50px;
      }

      .us-contacts,
      .pak-contacts {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
      }
          .HeadFont {
        font-size: 3.5rem;
    }




}

/**************************************************
************ MEDIA QUERY FOR MAX WIDTH 600PX  *****}
******************************************************/

@media only screen and (max-width:600px) {

      .HeroSection p,
      .ServicesWrapper .Container p,
      .EachService,
      .us-contacts,
      .pak-contacts {
            width: 100%;
      }

      .HeroSection h1,
      .PageHead,
      .about-us-hero h1 {
            font-size: 4rem;
      }

      .SiteLink a img {
            width: 75px;
      }


}